<a href="https://colab.research.google.com/github/Irenemariyam/Python-Basics/blob/main/pythonbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
s=int(input("enter the salary "))
if s<250000:
    print("not taxable")
if s>=250000 and s<500000:
    p=s-250000
    y=10/100*p
    print("taxable amt is",p)
    print("tax amt",y)
if s>=500000 and s<750000:
    p=s-500000
    y=20/100*p
    c=y+25000
    print("taxable amt is",p)
    print("tax amt is",c)
if s>=750000 and s<1000000:
    p=s-7500000
    y=30/100*p
    c=y+125000
    print("taxable amt is",p)
    print("TAX AMT IS",c)
if s>1000000:
    p=s-1000000
    y=32/100*p
    c=y+275000
    print("taxable amt is",p)
    print("tax amt is ",c)

enter the salary 500000
taxable amt is 0
tax amt is 25000.0