<a href="https://colab.research.google.com/github/Irenemariyam/Python-Basics/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num=int(input("enter the number to display the correspnding multiplication tabele: "))
for i in range(1,11):
  print(i,"*",num,"=",i*num)

enter the number to display the correspnding multiplication tabele: 5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [4]:
num=input("Enter the number: ")
k=0
for i in num:
  k=k+1
print(k)

Enter the number: 1547
4

In [5]:
num=int(input("enter number: "))
i=1
while(i<=10):
  print(i*num)
  i=i+1

enter number: 8
8
16
24
32
40
48
56
64
72
80

In [6]:
string=input(("enter string: "))
reversestring= ""
for i in string:
    reversestring = i + reversestring
print("reverse string: ",reversestring)      
if (string == reversestring):
    print("the string is palindrome")
else:
    print("the string is not palindrome")

enter string: WOW
reverse string:  WOW
the string is palindrome

In [12]:
name=input(("enter user name: "))
name=name.replace("a","k")
print(name)

enter user name: susan
suskn

In [14]:
name=input(("enter username: "))
if name.isupper():
  print("Upper case") 
  print(name.lower())
if name.islower():
  print("lower case")
  print(name.upper())

enter username: IRENE
Upper case
irene