<a href="https://colab.research.google.com/github/Irenemariyam/Python-Basics/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name=input("enter the name")
print(name)

enter the nameirene
irene

In [ ]:
name=input("enter your name")
phonenumber=int(input("enter phone number:"))
print(name)
print(phonenumber)

enter your nameirene
enter phone number:8089237422
irene
8089237422

In [ ]:
m1=int(input("enter the mark of first subject"))
m2=int(input("enter the mark of second subject"))
total=m1+m2
print(total)

enter the mark of first subject30
enter the mark of second subject50
80

In [ ]:
m1=int(input("enter the mark="))
m2=int(input("enter the mark="))
total=m1+m2
avg=total/2
print("total marks=",total)
print("avg marks=",avg)

enter the mark=80
enter the mark=40
total marks= 120
avg marks= 60.0

In [ ]:
m1=int(input("enter the number"))
m2=int(input("enter the number"))
if m1>m2:
  print("largest number is",m1)
if m2>m1:
  print("largest number is",m2)

enter the number90
enter the number100
largest number is 100

In [ ]:
m1=int(input("enter the number"))
m2=int(input("enter the number"))
m3=int(input("enter the number"))
if m1>m2 and m1>m3:
  print("largest number is",m1)
if m2>m1 and m2>m3:
  print("largest number is",m2)
if m3>m2 and m3>m1:
  print("largest number is",m3)

enter the number40
enter the number60
enter the number90
largest number is 90

In [2]:
m1=int(input("enter the number"))
if m1%2 !=0:
  print("odd")
else:
  print("even")

enter the number80
even

In [6]:
for i in range(1,11):
  print (i)

1
2
3
4
5
6
7
8
9
10

In [9]:
for i in range (1,11):
 if i%2 ==0:
   print(i)

2
4
6
8
10

In [16]:
for i in range(1,11):
  print(i,"*5=",i*5)

1 *5= 5
2 *5= 10
3 *5= 15
4 *5= 20
5 *5= 25
6 *5= 30
7 *5= 35
8 *5= 40
9 *5= 45
10 *5= 50