<a href="https://colab.research.google.com/github/Irenemariyam/Python-Basics/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
mark=int(input())

50

In [17]:
mark=int(input("enter the mark"))
if mark >50 :
  print("you are passed")
if mark <50 : 
    print("you are failed")
if mark==50:
  print("just passed")

enter the mark50
just passed

In [43]:
salary=int(input("enter the amount "))
if salary <250000:
  print("no tax")
if salary >=250000:
  print("taxable")
  print((salary-250000)*10/100)

enter the amount 300000
taxable
5000.0