<a href="https://colab.research.google.com/github/Irenemariyam/Python-Basics/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
travel_source=input("enter the travel source")
destination=input("enter the destination")
no_of_passengers=int(input("enter no of passengers"))
print("travel source=",travel_source)
print("destination=",destination)
print("no of passengers=",no_of_passengers)

enter the travel sourcebus
enter the destinationbangalore
enter no of passengers2
travel source= bus
destination= bangalore
no of passengers= 2

In [3]:
total_ticket_fare=int(input("enter the total ticket fare"))
no_of_passengers+int(input("enter the no of passengers"))
x=total_ticket_fare/no_of_passengers
print("ticket fare per person",x)

enter the total ticket fare2000
enter the no of passengers2
ticket fare per person 1000.0

In [4]:
name=input("enter your name=")
ticket_fare=input("enter ticket fare=")
print(name,ticket_fare)

enter your name=irene
enter ticket fare=1000
irene 1000

In [6]:
total_ticket_fare=int(input("enter total ticket fare"))
if total_ticket_fare>10000:
  print("eligible for discount")

enter total ticket fare20000
eligible for discount

In [9]:
total_ticket_fare=int(input("enter total ticket fare"))
if total_ticket_fare>15000:
  print("eligible for 20% dicount")
else:
  print("eligible for 10% discount")

enter total ticket fare1200
eligible for 10% discount

In [10]:
total_ticket_fare=int(input("enter the total ticket fare="))
if total_ticket_fare>15000:
  x=total_ticket_fare*20/100
  print("eligible for 20% discount",x)
if total_ticket_fare>10000 and total_ticket_fare<15000:
  y=total_ticket_fare*10/100
  print("eligible for 10% discount",y)
if total_ticket_fare<10000:
  z=total_ticket_fare*5/100
  print("eligible for 5% discount",z)

enter the total ticket fare=2000
eligible for 5% discount 100.0

In [11]:
n1=int(input("enter the number"))
if n1>0:
   print("given number is positive")
if n1==0:
   print("given number is zero")
if n1<0:
   print("given number is negative")

enter the number80
given number is positive

In [15]:
age=int(input("enter the age"))
if age>18:
  print("adult")
elif age>13 and age<18:
  print("teemager")
elif age>6 and age<13:
  print("kid") 
elif age>2 and age<6:
  print("toddler")
elif age<2:
  print("infant")

enter the age1
infant

In [18]:
initial=input("enter initials=")
if initial in("a,e,i,o,u"):
  print("vowel")
else:
  print("no vowel")

enter initials=j
no vowel

In [19]:
name=input("enter your name=")
for i in name:
  print(i)

enter your name=irene
i
r
e
n
e

In [23]:
for i in range(45,89,2):
  print(i)

45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87

In [24]:
a=0
for i in range(1,11):
  a=a+i
  print(i,a)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55

In [31]:
for i in range(5):
  for j in range(i):
    print(i, end=" ")
  print(' ')

1
2 2
3 3 3
4 4 4 4